
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
::selection{
    background:var(--yellow);
    color: #333;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
 
}
html::-webkit-scrollbar-track{
    background:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
body{
    background: #111;
    overflow: hidden;
    padding-left: 35rem;
    height: 2000px;
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    padding:1rem ;
    
}
.btn{
    padding: 1rem 3rem;
    background:#333;
    color: #fff;
    cursor:pointer;
    margin-top:1rem;
    font-size: 2rem;
    border-radius: 5rem;
    
}
.btn:hover{
    background-color: yellow;
    color: black;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom:1rem solid #fff4;
    color: #fff;

}
.heading span{
    color: yellow;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index:1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column ;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 5px solid rgb(207, 204, 12);
}
header .user .name{
    font-size: 3.5rem;
    color: #fff;

}
header .user .post{
    font-size: 2rem;
    color: #eee;  
}
header .navbar{
    width: 100%;

}
header .navbar ul{
    list-style-type:none ;
    padding: 1rem 3rem;

}
header .navbar ul li a{
    display:block;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background-color: yellow;
    color:black;
}
#menu{
    position:fixed;
    top:2rem;
    right:2rem;
    background:#333 ;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 999;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;

}
.home h1{
    font-size: 5rem;
    color: #fff;
    
}

.home h1 span {
    color: yellow;
}
.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about.row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.info h3{
    font-size: 2rem;
    color:yellow;
    padding: 1rem 0;
    font-weight: normal;
}
.info h3 span{
    color: #eee;
    padding: 0.5 rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about.row.counter.box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about.row.counter.box h3{
    font-size: 4rem;
    color:white  
}
/* education  */
.education .box-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;

}
.education .box-container .box{
    font-size: 1.3rem;
    background-color: #222;
    color: #fff;
    border-radius: 5rem;
    padding: 5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
    
}
.education .box-container .box p{
    font-size: 2 rem;
    text-align: justify;
    text-justify: inter-word;
    color: #eee;
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: yellow;
}
.about.row.counter.box{
    width: 100%;
}
/* ========================== */
.education .box-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;

}
.education .box-container .box{
    font-size: 1.3rem;
    background-color: #222;
    color: #fff;
    border-radius: 5rem;
    padding: 5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
    
}
.education .box-container .box .d{
    margin-left: 13rem;
}


.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;

}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: yellow;
}
.icon{
    height: 100px;
    width: 90px;
    margin-left: 12rem;
    background: #fff;
}
.icon-1{
    height: 100px;
    width: 80px;
    margin-left: 12rem;
    background: #fff;
}

/* ===================================== */
.contact.row{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;

}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;   
    padding-bottom: 0;
}
.contact .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    padding-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background:#3333 ;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;

}.contact .row form .box::placeholder{
      text-transform: capitalize;

}

contact .row form .message{
    height :15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;

}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;

}
.contact .row .content .info i{
    padding-right: 1rem;
    color: yellow;
}
.contact form button{
        padding: 1rem 3rem;
        background:#333;
        color: #fff;
        cursor:pointer;
        margin-top:1rem;
        font-size: 2rem;
        border-radius: 5rem;    
}
.contact form button:hover{
    background-color: yellow;
    color: black;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }

}
@media(max-width:991px){
    header{
        left:-120%;
    }
    #menu{
    display:block ;
    }

    header.toggle{
    left:0%;
    }
    
    body{
        padding: 0;
    };

}   
@media(max-width:768px){
    html{
        font-size: 50%;
    }
   
}
@media(max-width:400px){
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about.row.counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem;
    }
   
}   
